/* This is the page to put custom style */
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
a {
  text-decoration: none;
  color: #343a40;
}
a:hover {
  text-decoration: underline;
}

/* To change the text color to #8cc63e */
header {
  background-image: linear-gradient(to right, #ffffff 0%, #8cc63e 100%);
  color: black; /* Adjust text color as needed for readability */
  /* Other styles for padding, display, etc., based on your design */
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #8cc63e;
}

.custom-dropdown-item:hover {
  background-color: #8cc63e; /* Replace with your desired color */
  color: #ffffff; /* Replace with your desired text color */
}

.nav-item .dropdown-menu .custom-dropdown-item.active,
.nav-item .dropdown-menu .custom-dropdown-item:active {
  background-color: #8cc63e; /* Replace with your desired color */
  color: #ffffff; /* Replace with your desired text color */
}

/* To change the color of Product nav item and make it bold */
.navbar-light .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: #010101 !important;
  font-weight: bold;
}

.navbar-dark .dropdown-menu .dropdown-item {
  color: #010101 !important;
}

/* nav hover and background color change on hover remove arrow */
.navbar-nav .nav-link:hover {
  background-color: #e5e5e5;
}

.navbar-nav .nav-link::after {
  display: none;
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown on hover */
.dropdown:hover > .dropdown-menu {
  display: block;
}

/* Header.css */
/* Define styles for large screens */
.large-logo {
  display: block;
  max-width: 240px; /* Show the large logo */
}

/* Define styles for small screens */
.small-logo {
  display: none;
  max-width: 40px; /* Hide the small logo on small screens */
}

/* Use a media query to adjust the display property for small screens */
@media (max-width: 767px) {
  .large-logo {
    display: none;
    /* Hide the large logo on small screens */
  }
  .small-logo {
    display: block; /* Show the small logo on small screens */
  }
}

/* Center the text below the icon on small and medium screens */
@media (max-width: 991px) {
  .location-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Add a margin between the icon and text if needed */
  .location-link i {
    margin-bottom: 5px; /* Adjust the margin as needed */
  }
}
/* Center the text below the icon on small and medium screens */
@media (max-width: 991px) {
  .signin-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Add a margin between the icon and text if needed */
  .signin-link i {
    margin-bottom: 5px; /* Adjust the margin as needed */
  }
}
/* Display the SearchBox inline on screens larger than or equal to medium */
@media (min-width: 768px) {
  .d-flex.align-items-center {
    display: flex;
  }
}

/* Display the SearchBox as a block on screens smaller than medium */
@media (max-width: 767px) {
  .d-flex.align-items-center {
    display: block;
  }
}

/* all buttons */
.button-primary {
  background-color: #fff;
  border: 2px solid #8cc63e; /* Green color for the outline */
  border-radius: 20px;
  color: #8cc63e; /* Green color for the text */
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: none;
}

.button-mini {
  background-color: #4bb543;
  border-radius: 20px;
  color: #fff;
  font-size: 14px; /* Adjust the font size to make the button smaller */
  font-weight: bold;
  padding: 8px 16px; /* Adjust the padding to make the button smaller */
  cursor: pointer;
  box-shadow: none;
}

.button-primary:hover {
  background-color: #8cc63e; /* Green color on hover */
  color: #fff; /* White text on hover */
  outline: none; /* Remove the outline on hover */
  box-shadow: none;
}

.btn-product:focus {
  outline: none;
}

.btn-product:active {
  background-color: #8cc63e !important;
  border-color: #8cc63e !important;
  box-shadow: none !important;
}

.custom-nav-dropdown {
  border: 1px solid #dee2e6; /* Example gray border, change color as needed */
  border-radius: 0.25rem; /* Default Bootstrap border-radius */
}

/* To style the dropdown menu specifically */
.custom-nav-dropdown .dropdown-menu {
  border-radius: 0.25rem; /* Ensures the dropdown menu also has rounded corners */
}

.custom-navbar {
  background-color: #fff;
  padding-left: 20px;
}
.small-button {
  font-size: 12px; /* Set the font size to your desired small size */
}
.qty-button {
  background-color: #8cc63e;
  border: none;
}
/* Product.css */

.product-card {
  transition: border 0.2s ease-in-out; /* Add transition for smooth effect */
}

.product-card:hover {
  border: 2px solid #007bff; /* Add a strong border on hover with your desired color */
}

/* Below is for productNav text to make it smaller */
.smaller-text {
  font-size: 12px; /* You can adjust the size as needed */
}

/* Add this CSS to your existing stylesheet or create a new one */
.whatsapp-link {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid #25d366; /* Add a border around the link for better visibility */
  border-radius: 4px;
  background-color: #ffffff; /* Add a background color to the link */
  color: rgb(18, 18, 18); /* Set the text color to white */
  text-decoration: none; /* Remove default underline */
  bottom: 24px;
  right: 36px;
}

/* On hover, change the background color and cursor style */
.whatsapp-link:hover {
  background-color: #c6d3d2; /* Change the background color on hover */
  cursor: pointer;
}

/* Make the WhatsApp link responsive */
@media (max-width: 767px) {
  .whatsapp-link {
    bottom: 70px;
    right: 20px;
  }
}

.badge {
  /* padding: 0 3px;
  background-color: #068225;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -10px;
  right: 1px;
  width: 1rem; */
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #068225;
  color: white;
  border-radius: 20%;
  padding: 2px 4px;
  font-size: 12px;
}
.cart {
  /* margin-left: 10px; Adjust the margin value to add the desired space */
  position: relative;
  display: inline-block;
}

.discount-badge {
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 5px;
  padding: 2px 6px;
  font-size: 12px;
}
.bg-light-green {
  background-color: rgba(20, 202, 65, 0.502);
}
.original-price {
  text-decoration: line-through;
}
.product-name {
  min-height: 50px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
}

/* Add these styles to your CSS */
.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

.qty-number {
  font-size: 1.2rem;
  margin: 0 10px;
}
.responsive-button {
  overflow: hidden; /* Hide text overflow */
  text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
  white-space: nowrap; /* Prevent line breaks */
  font-size: 0.8rem; /* Initial font size */

  /* Media query for smaller screen sizes */
  @media (max-width: 768px) {
    font-size: 0.7rem; /* Reduce font size for smaller screens */
  }
}

.clickable {
  color: rgb(37, 37, 197); /* Change the color to indicate a link */
  text-decoration: underline; /* Add an underline to indicate a link */
  cursor: pointer; /* Change the cursor to a pointer to indicate interactivity */
}

/* CSS */
.scrolling-container {
  display: flex;
  align-items: center;
  width: 100%;
}
/* This is code start */
.cover {
  position: relative;
  padding: 0px 30px;
  margin-top: 100px;
}

.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-images {
  position: relative;
  width: 100%;
  padding: 40px 0px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.scroll-images::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
  background-color: black;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
}

/* This is code end */

.category-text {
  flex: 1;
}

.scrolling-text {
  flex: 2;
  background-color: #0072bb;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px; /* Add spacing to separate category and text */
}

.scrolling-text span {
  animation: scroll 10s linear infinite; /* Adjust the animation duration */
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  padding-right: 20px; /* Add space between text spans */
  display: inline-block;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
  200% {
    transform: translateX(100%);
  }
}

/* SpecialOffers.css */
.selected {
  border: 2px solid #0072bb;
  border-radius: 10px;
}

/* Add more styling as needed */
.map-layout {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}

/* Slider buttons for products */

/* Add this to your CSS */
.round-arrow.left-arrow {
  left: 24px; /* Adjust the left position as needed */
  z-index: 1; /* Ensure the left arrow is above other elements */
}

.round-arrow.right-arrow {
  right: 24px; /* Adjust the right position as needed */
  z-index: 1; /* Ensure the right arrow is above other elements */
}

/* Center the arrows vertically */
.round-arrow {
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-color: #068225;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  cursor: pointer;
}

/* Center the arrow icon within the button */
.round-arrow svg {
  margin-top: 7px; /* Adjust the margin-top as needed */
  margin-left: 10px; /* Adjust the margin-left to center horizontally */
}

/* Style the arrows on hover if needed */
.round-arrow:hover {
  background-color: #25d366; /* Change the background color on hover */
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.carousel-container {
  margin-top: 120px; /* Adjust this margin to leave space for the header */
  z-index: 500; /* Adjust the z-index value */
}

.rounded-image {
  border-radius: 10px; /* Adjust this value to get the desired roundness */
}
